<p id="notice"><%= notice %></p>

<h3>Your ToDo Items</h3>

<div class='todo uncompleted'>
  <table>
    <%= render @tasks.uncompleted %>
  </table>
</div>

<hr>

<h4>Completed Items:</h4>

<div class='todo completed'>
  <table>
    <%= render @tasks.completed %>
  </table>
</div>

<%= link_to 'New Task', new_task_path %>